<div class="blocks">
    <div class="container">
        <div class="blocks__row">
            <div class="blocks__column">
                <img src="images/Icon-water.svg" alt="icon">
                <div class="column__title title__first">Source water quality indicators</div>
                <div class="column__text">The source of water supply for thermal power plants is surface water containing all types of impurities.</div>
            </div>
            <div class="blocks__column">
                <img src="images/Icon-definition.svg" alt="icon">
                <div class="column__title title__second">Performance definition of  WTP</div>
                <div class="column__text">The VPU is designed to cover coolant losses in the main cycle of the designed thermal power plant, as well as in the heat supply system.</div>
            </div>
            <div class="blocks__column">
                <img src="images/Icon-calc.svg" alt="icon">
                <div class="column__title title__thrid">Calculation of water treatment plant</div>
                <div class="column__text">The calculation of the scheme begins with the last filter in the course of water treatment to take into account the water consumption of its own filters.</div>
            </div>
            <div class="blocks__column">
                <img src="images/Icon-clarif.svg" alt="icon">
                <div class="column__title title__four">Calculation of clarification filters</div>
                <div class="column__text">The calculation of the pre-treatment circuit is carried out taking into account the load of the ion-exchange part of the recharge circuit of the main cycle of the TPP.</div>
            </div>
            <div class="blocks__column">
                <img src="images/Icon-colling.svg" alt="icon">
                <div class="column__title title__five">Selection of cooling system</div>
                <div class="column__text">The main consumers of process water at thermal and nuclear power plants are steam turbine condensers, which use cooling water to condense steam.</div>
            </div>
            <div class="blocks__column">
                <img src="images/Icon-diagram.svg" alt="icon">
                <div class="column__title title__six">Water treatment plant diagrams</div>
                <div class="column__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque adipisci sint atque reprehenderit dignissimos facilis non labore neque saepe aperiam.</div>
            </div>
        </div>
    </div>
</div>