@model Dictionary<int, string>


@if(Model != null)
{
    <ul>
        @foreach (var str in Model)
        {
            <li>Ключ: @str.Key, Значение: @str.Value</li>
        }
    </ul>
}
else 
{
    <div>@Model</div>
}