<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__text">
                <div class="footer__title">Want to make edits?</div>
                <div class="footer__bottom">Contact us</div>
            </div>
            <div class="footer__copyright">Copyright 2024 All Rights Reserved. Designed by K.Melnik</div>
            <div class="footer__button">
                <a href="#" class="footer_btn1">Write to us</a>
                <a href="#" class="footer_btn2">how it works</a>
            </div>
        </div>

    </div>
</footer>