<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <img src="images/logo.svg" alt="logo">
                <div class="logo_text">HydroVision Pro</div>

            </div>
            <div class="header__menu">
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Filters</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>